# Expose ElasticSearch, MariaDB and MySQL
services:
  elasticsearch:
    ports:
      - "${ELASTICSEARCH_HTTP_PORT:-9200}:9200"
      - "${ELASTICSEARCH_TCP_PORT:-9300}:9300"
  mariadb:
    ports: [ "${MARIADB_PORT:-3306}:3306" ]
  mysql:
    ports: [ "${MYSQL_PORT:-3307}:3306" ]

# Install excimer to allow profiling
  mediawiki:
    build:
      # docker compose --env-file config/.env -p main build
      dockerfile: features/profiling/profiling.Dockerfile
      context: .
